<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>CuoiKy_LTM</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/loi-khong-tim-thay-trang</location>
	</error-page>
	<servlet>
		<servlet-name>ShowError404Controller</servlet-name>
		<servlet-class>controller.ShowError404Controller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowError404Controller</servlet-name>
		<url-pattern>/loi-khong-tim-thay-trang</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IndexController</servlet-name>
		<servlet-class>controller.IndexController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IndexController</servlet-name>
		<url-pattern>/trang-chu</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowLoginController</servlet-name>
		<servlet-class>controller.ShowLoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowLoginController</servlet-name>
		<url-pattern>/dang-nhap</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowAddVacxinController</servlet-name>
		<servlet-class>controller.ShowAddVacxinController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowAddVacxinController</servlet-name>
		<url-pattern>/them-vacxin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowEditVacxinController</servlet-name>
		<servlet-class>controller.ShowEditVacxinController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowEditVacxinController</servlet-name>
		<url-pattern>/chinh-sua-vacxin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/xulylogin</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>XuLyChinhSuaController</servlet-name>
		<servlet-class>controller.XuLyChinhSuaController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XuLyChinhSuaController</servlet-name>
		<url-pattern>/xu-ly-chinh-sua</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>XuLyChinhThemController</servlet-name>
		<servlet-class>controller.XuLyChinhThemController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>XuLyChinhThemController</servlet-name>
		<url-pattern>/xu-ly-them</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>ThongKeController</servlet-name>
		<servlet-class>controller.ThongKeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ThongKeController</servlet-name>
		<url-pattern>/thong-ke</url-pattern>
	</servlet-mapping>



</web-app>